.container{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;

}

.container>img{
    width: 70px;
}

.container>ul{

    list-style: none;
    font-weight: bold   ;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}